$icon-font-path: "../fonts/";
//$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/** markers used by wiredep to inject sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

$defualt-height: 25px;
$defualt-line-height: 20px;
$margin-height: 15px;

$dark: #d7d7d7;

//overloads
html, body {
	width: 100%;
	height: 100%;
}

.layout{
	padding: 5px;
}

.dropdown{
	.dropdown-toggle{
		height: $defualt-height;
		line-height: $defualt-line-height;
		padding: 3px 10px;
	}
}

.btn {
	height: $defualt-height;
	line-height: $defualt-line-height;
	padding: 3px 8px;
}

.btn-group {
	.btn{
		&.active{
			border-bottom: solid 2px blue;
			background-color: inherit;
		}
	}
}

a{
	cursor: pointer;
}

.inline-block{
	display: inline-block;
}

.no-margin{ margin: 0 !important; }
.no-padding{ padding: 0 !important; }

.margin-top{ margin-top: $margin-height; }
.margin-bottom{ margin-bottom: $margin-height; }
.margin-left{ margin-left: $margin-height; }

.midle-height{
	position: relative;
}
/** markers used by gulp-inject to inject all your sass files automatically */
// injector
// endinjector